.grid-projects{
    height: 100%;
    height: 100vh;

    .view-grid{
        height: 100%;
        display: -ms-grid;
        display: grid;
        grid-gap: 30px;
        -ms-grid-columns: 60% 40%;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 2fr 1fr;
        grid-template-areas: 'a b' 'c d';

        @media screen and (max-width: $screen-xs-max){
            grid-gap: 10px;
            grid-template-columns: 1fr 1fr;
        }
    }

    .card-project{
        position: relative;
    }

    .view-grid .a {
        grid-area: a;
        background: $color-bg-primary;
    }

    .view-grid .b {
        grid-area: b;
        background: $color-bg-secondary;
    }

    .view-grid .c {
        grid-area: c;
        background: $color-bg-secondary;
    }

    .view-grid .d {
        grid-area: d;
        background: $color-bg-primary;
    }

    .title-project{
        font-family: $font-secondary;
        font-weight: 600;
        color: $color-primary;
        margin: 0;
        position: absolute;
        top: 50%;
        margin-top: -21.5px;
        margin-left: 20px;

        &::before{
            content: '';
            width: 20px;
            height: 1px;
            background: $color-primary;
            position: absolute;
            margin-top: 21px;
            margin-left: -20px;
        }
    }
}