.h-banner{
    background: $color-bg-secondary;
    height: 100%;
    height: 100vh;

    .container{
        height: 100%;
    }

    .h-info{
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    h2{
        margin: 0;
        text-align: center;
        text-transform: uppercase;
        font-family: $font-secondary;
        font-weight: 800;
        font-size: 150px;
        letter-spacing: 2px;
        color: $color-bg-primary;
        height: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;

        span{
            display: block;
            width: 100%;
        }

        @media screen and (max-width: $screen-sm-max){
            font-size: 100px;
        }

        @media screen and (max-width: $screen-xs-max){
            font-size: 50px;
        }
    }

    .local{
        position: absolute;
        width: 100%;
        bottom: 30px;
        margin: 0;
        text-align: center;
        font-size: 18px;
    }

    .icon-arrow{
        position: absolute;
        left: 0;
        bottom: 30px;
    }

    .btn-menu{
        position: absolute;
        right: 24px;
    }
}