// colors
$selection: #000000;
$color-blue: #000026;
$color-white: #ffffff;
$color-red: #f22722;
$color-pink: #febad7;
$color-light-blue: #d9def5;

$color-primary: $color-blue;
$color-secondary: $color-red;
$color-bg-primary: $color-pink;
$color-bg-secondary: $color-light-blue;

// fonts
$montserrat: 'Montserrat', sans-serif;
$oswald: 'Oswald', sans-serif;

$font-primary: $oswald;
$font-secondary: $montserrat;