<section class="about">
    <div class="container">
        <div class="a-info">
            <p class="text-about">formada em jornalismo pela puc-campinas, atuo há 7 anos com comunicação e posicionamento digital. auxiliar marcas a encontrarem sua voz e a se mais humanas e socialmente relevantes é que me move.</p>
            <div class="wrapper-download">
                <span class="icon-resume"></span>
                <p>currículo</p>
            </div>
            <button class="btn-menu">Fechar</button>
        </div>
    </div>
</section>