<section class="about">
    <div class="container">
        <div class="a-info">
            <p class="text-about">Formada em jornalismo pela Puc-Campinas, Eduarda Giacomello atua desde 2012 na área de comunicação e posicionamento digital. Com vivência em agência e no marketing interno das marcas, já prestou serviços para nomes como Honda, Luigi Bertolli, Emme, Santo Mar Brasil, Jardins & Co. Imóveis, Getz Cosméticos e Kaá.</p>
            <div class="wrapper-download">
                <a class="btn-download-cv" href="https://drive.google.com/file/d/1d3X91SyRnYwYx1gJgSSCw73tWKEarfyp/view?usp=sharing" target="_blank" rel="noopener noreferrer" download="EduardaGiacomello">
                    <span class="icon-resume"></span>
                    currículo
                </a>
                <a class="ico-lkd" href="https://www.linkedin.com/in/eduarda-giacomello/" target="_blank" rel="noopener noreferrer">linkedin</a>
            </div>
            <button class="btn-menu">Fechar</button>
        </div>
    </div>
</section>