<section class="grid-projects">
    <div class="view-grid">
        <a href="" class="card-project a">
            <h3 class="title-project">planejamento de <br> redes sociais</h3>
        </a>
        <a href="" class="card-project b">
            <h3 class="title-project">relatório de <br> anatytics</h3>
        </a>
        <a href="" class="card-project c">
            <h3 class="title-project">conteúdo <br> seo</h3>
        </a>
        <a href="" class="card-project d">
            <h3 class="title-project">relatório de <br> seo</h3>
        </a>
    </div>
</section>